<div class="min-h-screen bg-gray-50">
  <app-header
    [pageTitle]="'Courses'"
    [profile]="{ name: 'Teacher Profile', initials: 'TP' }"
  ></app-header>

  <main class="p-6">
    <app-button
      customColor="mb-6 bg-blue-950 text-white hover:bg-gray-500 cursor-pointer"
      size="lg"
      (buttonClick)="onAddCourse()"
    >
      + Add Course
    </app-button>

    <app-filters
      [searchPlaceholder]="'Search courses...'"
      [dropdowns]="dropdownOptions"
      (filtersChange)="applyFilters($event)"
    >
    </app-filters>

    <app-data-table
      [title]="'Course List'"
      [columns]="columns"
      [rows]="filteredCourses"
      [enableActions]="true"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
    ></app-data-table>

    <app-generate-courses
      *ngIf="showCreateCourse"
      (courseCreated)="onCourseCreated($event)"
      (cancelled)="onCancelCreate()"
    ></app-generate-courses>
  </main>
</div>
